<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c65b07af-6439-424a-a796-9ec5e7a07015/resourceGroups/EmotionAnalysisRG/providers/Microsoft.Web/sites/EmotionTextAnalysis</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://emotiontextanalysis.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>emotiontextanalysis.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EmotionTextAnalysis</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EmotionTextAnalysis</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>