@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Maury Reis Viana</h3>

<address>
    <strong>Phone:</strong> +55 (35) 9 9154-7167 <br />
    <strong>Email:</strong> <a href="mailto:mauryrv@gmail.com">mauryrv@gmail.com</a><br />
    <strong>Github:</strong><a href="https://github.com/mauryrv"> Github</a><br />
    <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/mauryrv/?locale=pt_BR"> LinkedIn</a><br />
</address>
